<mat-form-field class="input-container" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matPrefix *ngIf="iconePrefixo">{{ iconePrefixo }}</mat-icon>
  <input
    matInput
    [placeholder]="placeholder"
    [formControl]="control"
    [name]="label"
    ngDefaultControl
    [matAutocomplete]="auto"
    [errorStateMatcher]="errorStateMatcher"
    (blur)="markAsTouched()"
  />
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of filteredOptions$ | async"
      [value]="option"
    >
      {{ option.nome }} - {{ option.sigla }}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="mostrarErro()">
    {{ label }} é obrigatório
  </mat-error>
</mat-form-field>
